{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Financial Assistance</h2>
    <p>
      AFPy offers financial assistance for students or persons whose resources
      do not allow to come to PyConFr. To apply, write an e-mail to the AFPy
      treasurer (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>)
      explaining briefly:
    </p>
    <ul>
      <li>
        your current status (student, looking for a job…);
      </li>
      <li>
        the reason for your participation (attending conferences, sprints,
        presentation of a project…);
      </li>
      <li>
        a rough estimate of the cost of your journey to PyConFr (travel and
        accommodation);
      </li>
      <li>
        any other information you deem necessary.
      </li>
    </ul>
    <p>
      You must not exceed 400 words in your application. If you are accepted,
      you will receive a maximum of €200 if you come from Europe, or €400 if
      you come from outside Europe, corresponding to a maximum refund of 75% of
      your transport and accommodation costs.
    </p>
    <p>
      The money will be delivered by SEPA transfer or by Paypal, as soon as the
      supporting documents (invoices, train tickets…) are sent. Other means of
      payment are not admitted.
    </p>
    <p>
      Applications must be sent
      to <a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a> before January
      15<sup>th</sup>. After this date, for the sake of equality, applications
      will be refused.
    </p>
    <p>
      Contact: <a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>
    </p>
  </article>
{% endblock content %}
