{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Actualités</h2>

    <section>
      <h3>Report of the PyConFR 2023</h3>

      <p>
        Following the edition of the PyConFR 2023, a survey has been proposed in order to
        collect your opinions about the event and help us to improve it for the next editions.
        Thanks to all the people who took the time to answer it 💛. Here are the results!
      </p>
      <p>
        100 people answered the survey, which represents approximately 25% of the public
        received during the PyConFR 2023.
      </p>
      <p>
        The event obtained an average satisfaction score of <strong>3.53/4</strong>.
      </p>

      <h4>Attendance</h4>

      <embed src="{{ url_for('static', filename='images/graph1.svg') }}" />

      <p>
      Among these 100 persons, 88% of them are men, 11% are women and 1% preferred not to answer.
        This distribution is more or less the same as the attendance during the event.
      </p>
      <p>
        100% of the respondents attended the event and only 1% of them followed the event online.
        This low percentage of online follow-up is probably due to the lack of communication about this option.
      </p>
      <p>
        Communication before and during the event received a score of <strong>3.15/4</strong>.
        We will try to have a better communication, and also to be more clear about the channels used.
      </p>

      <h4>Planning</h4>

      <p>The planning of the event received a score of <strong>3.26/4</strong>.</p>

      <embed src="{{ url_for('static', filename='images/graph2.svg') }}" />

      <p>
        The conferences on Saturday and Sunday are the slots that gather the most audience.
        The sprints and workshops were also well attended.
      </p>
      <p>
        Several people would like to see an indicator of the type of audience the lectures
        are for and the area of application.
        This could be interesting to help people coming to the event to choose which lectures
        and workshops to attend. (Feel free to <a href="https://git.afpy.org/AFPy/PonyConf">participate in the development of PonyConf</a> 😉)
      </p>
      <p>
        It was also reported that some conferences were not in the language of their
        title and description. We will be more vigilant for the next editions!
      </p>
      <p>
        In the same way, we will indicate more clearly the moments of break and beat between
        the conferences on the planning.
      </p>
      <p>
        Several people also made the following remarks about the content of the schedule:
      </p>
      <ul>
        <li>the conferences are too Data Science oriented,</li>
        <li>the conferences are not long enough,</li>
        <li>the conferences are not technical enough and/or do not go far enough,</li>
        <li>the topics are not varied enough.</li>
      </ul>
      <p>
        We understand the frustrations of wanting to learn more about a topic or
        seeing things from many different areas.
        Even though we try to make the program as balanced as possible between the
        different topics and speakers, we are still dependent on the proposals made on the
        CFP (a big thanks to all the people who submit talks 💙).
        If you miss a topic, don't hesitate to propose a talk, workshop or sprint on it, or
        to relay the CFP within the related communities!
      </p>

      <h4>Food</h4>
      <p>
      We are very happy that the breakfast was so appreciated!
      </p>
      <p>
        Concerning the foodtrucks, a lack of vegetarian and vegan choices was noted.
        We will try to pay more attention to this 🧐.
      </p>
      <p>
        The Saturday night social event received a score of <strong>2.91/4</strong>.
        The main problem with the evening was that there was not enough food. Many people
        arrived earlier than expected to the party, and we made it start earlier, which is
        indeed not a good idea to make sure that everyone could have enough to eat.
      </p>

      <p>
        Thanks again to everyone who took the survey and to everyone who participated in PyConFR 2023!
      </p>
      <p>
        We hope to see as many of you at the 2024 edition 💛💙.
      </p>
      <p>
        Until then, don't hesitate to join and participate to the French Python community on :
      </p>
      <ul>
        <li><a href="https://discuss.afpy.org/">Discuss</a></li>
        <li><a href="https://www.afpy.org/discord">Discord</a></li>
        <li><a href="https://twitter.com/asso_python_fr/">Twitter</a></li>
        <li><a href="https://mamot.fr/@AFPy">Mastodon</a></li>
        <li><a href="https://www.linkedin.com/company/afpy">LinkedIn</a></li>
        <li>and <a href="https://www.afpy.org/communaute">local meetups</a>!</li>
      </ul>
    </section>
    <section>
      <h3>PyConFr 2023 transparency report</h3>

      <p>
        PyCon France (PyConFR) is a conference that takes place every year
        (except in exceptional circumstances) in France. This year, it took
        place from February 16th to 19th in Bordeaux, gathering people from
        the Python community. Participants of the conference are required to
        respect the <a href="https://www.afpy.org/docs/charte">Code of Conduct</a>
        of the Association Francophone Python, the association that organizes the event.
      </p>

      <p>
        The purpose of this document is to improve the welcome and safety of
        participants and to give the organizers indicators on the behavior of
        the community. Indeed, in order to hear, one must be able to listen.
        It has become standard practice for organizations with a Code of Conduct
        to publish a transparency report following a conference.
        That is the purpose of this document.
      </p>

      <p>
        <a href="https://git.afpy.org/AFPy/gestion/src/commit/67cd4d1d6df54dd3d1ac7ce5ac32df6260b885cb/compte_rendus_diversite/2023.pdf">
          Download the report in PDF (FR/EN)</a>
      </p>
    </section>

    <section>
      <h3>PyConFr 2023</h3>

      <p>
        The 2023 edition of the francophone community's conference on Python will
        be held in Bordeaux from February 16<sup>th</sup> to February
        19<sup>th</sup> 2023.
      </p>

      <p>
        The first two days are reserved for participative coding sessions. Developers
        from different open source projects come to code together. Everyone is welcome
        to contribute, and we seek to guide beginners. We provide the space and
        environment (tables, chairs, internet connection... and coffee!). Represented
        projects will be announced on our site as they register.
      </p>

      <p>
        During the two following days, you will have the opportunity to attend to
        presentations on various topics, about the Python programming language, its use
        cases, good practices, feedbacks, shared ideas… A call for proposals is to be
        announced soon.
      </p>

      <p>
        This event is hosted by the Université de Bordeaux. Thanks to them :).
      </p>

      <p>
        We ask everyone wishing to come to read the
        <a href="{{ url_for('page', name='conduct', lang=lang) }}">code of conduct</a>.
        We want this conference to be a welcoming event for
        everyone. AFPy working group is mobilized to make everyone feel good
        during the conference. Actions will be announced.
      </p>

      <p>
        If you already want to organize your journey, we have prepared the
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venue</a> page.
      </p>

      <p>
        We have several other announcements for you in the coming weeks, so
        follow us on <a href="https://mamot.fr/@AFPy">Mastodon</a>
        and <a href="https://twitter.com/pyconfr">Twitter</a>.
      </p>

      <p>
        Come and chat with us on our <a href="https://t.me/pyconfr">Telegram group</a> or our <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
