{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Support us</h2>

    <section>
      <h3>Help Us Before and During the Event</h3>

      <p>
        If you wish to help us with the preparation and/or during the event, do
        not hesitate to contact us
        at <a href="mailto:contact@afpy.org">contact@afpy.org</a>.
      </p>

      <p>
        Any volunteer help during the event is welcome!
      </p>
    </section>

    <section>
      <h3>Sponsor PyConFr</h3>

      <p>
        Patronage allows us each year to cover costs such as safety, hot and cold
        drinks, cleaning, video coverage…
      </p>

      <p>
        PyConFr is organized by volunteers from the francophone Python community
        and allows this community to meet, exchange and grow each year.
      </p>

      <p>
        If you wish to support us financially, you can contact the treasurer of
        AFPy (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>) in
        order to discuss the details.
      </p>

      <p>
        The sponsoring campaign is now over.
      </p>

      <p>
        This year, we propose the following amounts and counterparts:
      </p>

      <table>
        <thead>
          <tr>
            <th>Benefit</th>
            <th>Heart (free amount)</th>
            <th>Bronze (€500)</th>
            <th>Silver (€1000)</th>
            <th>Gold (€2000)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name and logo on the <a href="{{ url_for('page', name='sponsors', lang=lang) }}">"Sponsors" page</a></td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>1000-character presntation on the <a href="{{ url_for('page', name='sponsors', lang=lang) }}">"Sponsors" page</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo on the <a href="{{ url_for('page', name='index', lang=lang) }}">index page</a></td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Logo on posters and printed documents</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Kakemono in conference rooms</td>
            <td> -</td>
            <td> -</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Presentation of the enterprise (2 min) at the conferences kick-off (Saturday)</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Stand in the hall</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>✔</td>
          </tr>
        </tbody>
      </table>

      <!--
           <section >
           <p>
           Three "Platinium" levels are also available. These special levels include
           the benefits of the "Gold" level, and an additional benefit:
           </p>
           <h4>Transcript (4000 €)</h4>
           <p>Your logo on the transcription screen and on subtitled videos.</p>
           <h4>Drinks and Viennoiseries (4000 €)</h4>
           <p>Your logo on tables with viennoiseries and drinks.</p>
           <h4>Video (6000 €)</h4>
           <p>Your logo at the beginning of video recordings</p>
           <br/>
           </section>
      -->
      <p><strong>Benefits are available as soon as the invoice is paid.</strong></p>

    </section>
  </article>
{% endblock content %}
