{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Bourses</h2>
    <p>
      L'AFPy propose des bourses pour les étudiant·e·s ou les personnes dont
      les moyens ne permettent pas de venir à PyConFr. Pour faire une demande,
      écrivez un mail au trésorier de l'AFPy
      (<a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>)
      expliquant brièvement :
    </p>
    <ul>
      <li>
        votre statut actuel (étudiant, en recherche d'emploi…) ;
      </li>
      <li>
        la raison de votre participation à la conférence (assister aux
        conférences, présentation d'un projet, participation à un sprint…) ;
      </li>
      <li>
        une estimation approximative du coût de votre participation à PyConFr
        (transport et hébergement) ;
      </li>
      <li>
        toute autre information que vous jugez nécessaire.
      </li>
    </ul>
    <p>
      Vous ne devez pas dépasser les 400 mots dans votre demande. Les personnes
      acceptées recevront un maximum de 200 € pour un trajet en Europe, ou un
      maximum de 400 € pour un aller-retour partant hors d'Europe, correspondant
      au remboursement d'au maximum 75 % des coûts de transports et de logement.
    </p>
    <p>
      La bourse sera réglée par virement européen SEPA ou par Paypal, sur
      présentation des justificatifs des dépenses (facture, billet de
      train…). Les autres moyens de règlement ne seront pas acceptés.
    </p>
    <p>
      Les demandes de bourse doivent être faites à l'adresse mail
      <a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a> avant le 15
      janvier. Après cette date, et par souci d'équité, les demandes seront
      systématiquement refusées.
    </p>
    <p>
      Contact : <a href="mailto:tresorier@afpy.org">tresorier@afpy.org</a>
    </p>
  </article>
{% endblock content %}
