{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Actualités</h2>

    <section>
      <h3>Compte-rendu de la PyConFR 2023</h3>

      <p>
        Suite à l’édition de la PyConFR 2023, un sondage a été proposé afin de recueillir
        vos avis sur l’évènement et nous aider à l’améliorer pour les prochaines éditions.
        Merci à toutes les personnes qui ont pris le temps d’y répondre 💛. Voici les résultats !
      </p>
      <p>
        100 personnes ont répondu au sondage, ce qui représente environ 25% du public reçu
        lors de la PyConFR 2023.
      </p>
      <p>
        L’évènement a obtenu une note de satisfaction moyenne de <strong>3.53/4</strong>.
      </p>

      <h4>Fréquentation</h4>

      <embed src="{{ url_for('static', filename='images/graph1.svg') }}" />

      <p>
        Parmi ces 100 personnes, 88% d’entre-elles sont des hommes, 11% sont des femmes et 1%
        a préféré ne pas répondre.
        Cette répartition est plus ou moins la même que la fréquentation durant l’évènement.
      </p>
      <p>
        100% des répondant·e·s ont participé à l’évènement et seulement 1% d’entre elles a
        suivi l’évènement en ligne.
        Ce faible pourcentage de suivi en ligne est sûrement dû au manque de communication sur cette option.
      </p>
      <p>
        La commucation avant et pendant l’évènement a obtenu la note de <strong>3.15/4</strong>.
        Nous essayerons d’avoir une meilleure communication, et aussi d’être plus clair sur les canaux utilisés.
      </p>

      <h4>Planning</h4>

      <p>Le planning de l’évènement a obtenu la note de <strong>3.26/4</strong>.</p>

      <embed src="{{ url_for('static', filename='images/graph2.svg') }}" />

      <p>
        Les conférences du samedi et dimanche sont les créneaux qui recueillent le plus de public.
        Les sprints et les ateliers ont aussi attiré du monde.
      </p>
      <p>
        Plusieurs personnes aimeraient qu’il y ait un indicateur sur le type de public auquel
        les conférences s’adressent et sur le domaine d’application.
        Cela peut être intéressant pour aider les personnes venant à l’évènement à choiser les
        conférences et ateliers auxquels participer. (N’hésitez pas à <a href="https://git.afpy.org/AFPy/PonyConf">participer au développement de PonyConf</a> 😉)
      </p>
      <p>
        Il a également été signalé le fait que certaines conférences n’étaient pas dans la
        langue de leur titre et descriptif. Nous serons plus vigilants pour les prochaines éditions !
      </p>
      <p>
        De la même manière, nous indiquerons plus clairement les moments de pause et de
        battement entre les conférences sur le planning.
      </p>
      <p>
        Plusieurs personnes ont aussi remonté les remarques suivantes sur le contenu du planning :
      </p>
      <ul>
        <li>les conférences sont trop axées Data Science,</li>
        <li>les conférences ne sont pas assez longues,</li>
        <li>les conférences ne sont pas assez techniques et/ou ne vont pas assez loin,</li>
        <li>les sujets ne sont pas assez variés.</li>
      </ul>
      </p>
      <p>
        Nous comprenons les frustrations qu’il peut y avoir lorsque l’on aimerait en savoir encore
        plus sur un sujet ou voir des chosess sur plein de domaines différents.
        Même si nous essayons de faire un programme le plus équilibré possible entre les différents
        sujets et différents orateurs et oratrices, nous restons dépendants des propositons faites
        sur le CFP (un grand merci à toutes les personnes qui font des propositons 💙).
        Si un sujet vous manque, n’hésitez pas à proposer une conférence, un atelier ou un sprint
        dessus, ou à relayer le CFP au sein des communautés liées !
      </p>

      <h4>Nourriture</h4>
      <p>
        Nous sommes très content·e·s que le petit-déjeuner ait été autant apprécié !
      </p>
      <p>
        Concerant les foodtrucks, un manque de choix végétarien et végan a été relevé.
        Nous tâcherons d’y faire plus attention 🧐.
      </p>
      <p>
        La soirée du samedi soir a quant à elle obtenu une note de <strong>2.91/4</strong>.
        Le problème principal relevé pour la soirée a été la quantité pas assez grande de nourriture.
        Beaucoup de personnes sont arrivées plus tôt que prévu à la soirée, et nous l’avons
        faite commencer plus tôt, ce qui n’est effectivement pas une bonne idée pour que tout
        le monde puisse avoir assez à manger.
      </p>

      <p>
        Merci encore à toutes les personnes qui ont répondu à ce sondage et à toutes
        les personnes qui ont participé à là PyConFR 2023 !
      </p>
      <p>
        Nous espérons vous voir aussi nombreux et nombreuses pour l’édition de 2024 💛💙.
      </p>
      <p>
        D’ici là, n’hésitez pas à rejoindre et à participer à la communauté Python francophone sur :
      </p>
      <ul>
        <li><a href="https://discuss.afpy.org/">Discuss</a>,</li>
        <li><a href="https://www.afpy.org/discord">Discord</a>,</li>
        <li><a href="https://twitter.com/asso_python_fr/">Twitter</a>,</li>
        <li><a href="https://mamot.fr/@AFPy">Mastodon</a>,</li>
        <li><a href="https://www.linkedin.com/company/afpy">LinkedIn</a>,</li>
        <li>et <a href="https://www.afpy.org/communaute">les meetups locaux</a> !</li>
      </ul>
    </section>


    <section>
      <h3>Rapport de transparence de la PyConFr 2023</h3>

      <p>
        PyCon France (PyConFR) est une conférence qui a lieu chaque année
        (sauf circonstances exceptionnelles) en France. Cette année, elle a eu
        lieu du 16 au 19 février à Bordeaux, rassemblant des personnes de la
        communauté Python. Les participantes et participants à la conférence sont tenues de
        respecter ​le <a href="https://www.afpy.org/docs/charte">Code de Conduite</a>
        de l'Association Francophone Python, l'association qui organise l'événement.
      </p>

      <p>
        Le but de ce document est d'améliorer l'accueil et la sécurité des
        participantes et participants ainsi que de donner aux organisateurs et organisatrices
        des indicateurs sur le comportement de la communauté. En effet, pour
        pouvoir entendre, il faut pouvoir écouter. C'est maintenant devenu
        une pratique courante, pour les organisations ayant un Code de Conduite,
        de publier un rapport de transparence suite à la tenue d'une conférence.
        C'est le but de ce document.
      </p>

      <p>
        <a href="https://git.afpy.org/AFPy/gestion/src/commit/67cd4d1d6df54dd3d1ac7ce5ac32df6260b885cb/compte_rendus_diversite/2023.pdf">
          Télécharger le rapport en PDF (FR/EN)</a>
      </p>
    </section>
    
    <section>
      <h3>PyConFr 2023</h3>
      <p>
        L'édition 2023 de la conférence sur Python de la communauté francophone se
        tiendra à Bordeaux du 16 février au 19 février 2023.
      </p>

      <p>
        Les deux premiers jours sont réservés à des séances de développement
        participatif. Les développeurs et développeuses de différents projets
        <em>open source</em> se rejoignent pour coder ensemble. Chaque personne
        est la bienvenue pour contribuer, et nous cherchons également à
        accompagner les débutant·e·s. Nous fournissons l'espace et le matériel
        nécessaire à l'organisation (tables, chaises, connexion internet…). Les
        projets présents seront annoncés sur notre site au fur et à mesure de
        leur inscription.
      </p>

      <p>
        Les deux derniers jours sont consacrés à des conférences. Vous aurez
        l'occasion de participer à des présentations sur des sujets variés,
        autour du langage Python, de ses usages, des bonnes pratiques, des
        retours d'expériences, des partages d'idées… Un appel à présentation sera
        également lancé d'ici quelque temps.
      </p>

      <p>
        Cet événement est hébergé par L'Université de Bordeaux. Merci pour leur
        chaleureux accueil :).
      </p>

      <p>
        Nous demandons à chaque personne souhaitant venir de lire le
        <a href="{{url_for('page', name='conduct', lang=lang) }}">code de
          conduite</a>. Nous souhaitons faire en sorte que cette conférence soit un
        événement accueillant pour tout le monde. Le groupe de travail de l'AFPy
        se mobilise pour faire que chacun·e se sente bien durant la
        conférence. Nous vous annoncerons les actions.
      </p>

      <p>
        Si vous souhaitez déjà organiser votre venue, nous vous avons préparé la page
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venir</a>.
      </p>

      <p>
        Nous vous réservons plusieurs autres annonces pour les semaines à venir, alors
        suivez-nous sur <a href="https://mamot.fr/@AFPy">Mastodon</a>
        et <a href="https://twitter.com/pyconfr">Twitter</a>.
      </p>

      <p>
        Venez discuter avec nous sur notre <a href="https://t.me/pyconfr">groupe Telegram</a> ou notre <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
