{% macro map(fullscreen) %}
  <iframe id="map" allowfullscreen width="100%" scrolling="no" src="https://framacarte.org/fr/map/pyconfr-2019_53531?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
  <a class="button" href="https://framacarte.org/fr/map/pyconfr-2019_53531">{{ fullscreen }}</a>
{% endmacro %}
