{% macro description(company, lang) %}
  <div class="description">

  {% if lang == 'fr' %}
    {% if company == 'Université de Bordeaux' %}
      <p>
        Forte de ses 55 000 étudiants, 4 000 enseignants et chercheurs et 3 000
        personnels, l'Université de Bordeaux (UB) est un acteur majeur du
        territoire en lien avec le monde socio-économique, de la culture et de
        l'entreprise. L'université est internationale par nature, à travers ses
        échanges, ses projets, sa place en Europe et dans le monde. Elle est
        présente dans le monde numérique au travers de ses missions de
        formation et de recherche et porte notamment des initiatives vers le
        logiciel libre. Le projet BAIA, candidat à l’appel à manifestation
        d’intérêt 3IA (Instituts Interdisciplinaires d'Intelligence
        Artificielle), anime une dynamique impliquant des chercheurs des
        sciences et des technologies et de la santé, en collaboration avec des
        acteurs de l'industrie. C'est tout naturellement que UB s'est associé à
        l'évènement PyConFR 2023, avec la volonté de mettre le monde académique
        en lien avec les acteurs de la communauté Python.
      </p>
    {% elif company == 'Entr\'ouvert' %}
      <p>
        Entr'ouvert est une société coopérative attachée à la démocratie
        d'entreprise.  Les salariés possèdent l'entreprise à parts égales, les
        décisions sont prises selon le principe « une personne = une
        voix ». Nous privilégions un fonctionnement organique, proche de celui
        qu'on retrouve dans les communautés du Logiciel Libre. Il s'agit d'un
        mode d'organisation confortable pour nous mais surtout efficace pour
        produire du logiciel libre.
      </p>
      <p>
        Entr'ouvert a une forte connaissance du Logiciel Libre, de ses
        communautés, ses principes, ses habitudes. Préserver et promouvoir
        l'écosystème du Logiciel Libre fait partie des objectifs de la
        structure.
      </p>
      <p>
        Entr'ouvert est éditeur d'une solution libre (GNU GPL) de Gestion de la
        Relation Usager, nommée Publik. Elle est utilisée par de très
        nombreuses villes et agglomérations, en France et en Belgique. Cette
        solution est développée en Python, sur le cadriciel Django ; outils
        quasi exclusifs dès qu'il faut développer quelque chose à Entr'ouvert.
      </p>

    {% elif company == 'Alkivi' %}
      <p>
        Nous proposons aux TPE et PME d'externaliser leurs besoins en S.I.
      </p>
      <p>
        Nos activités coeur de métiers sont :
        <ul>
          <li>la gestion de réseaux (Firewall, Routeur, VPN, Switch, Wifi) et connexions Internet (Fibre, xDSL, 4G)</li>
          <li>la gestion de la téléphonie (IPBX , 3CX, téléphonie hébergée)</li>
          <li>la gestion de votre parc informatique (Prise en main à distance)</li>
          <li>L'hébergement et la gestion de vos serveurs et données : Nous sommes partenaires agréés d'OVH</li>
        </ul>
      </p>
      <p>
       Tous ces services sont disponibles via un point de contact unique au
       sein d'Alkivi qui gère entièrement votre environnement numérique.<br/>
       Une chose nous tient à coeur : Tout ce que nous codons est Open Source
       (et principalement en Python)
       <a href="https://github.com/alkivi-sas"/>https://github.com/alkivi-sas/</a>
      </p>
    {% elif company == 'MyBeezBox' %}
      <p>
      Depuis 6 ans, MyBeezBox accompagne les acteurs de la gastronomie, du
      tourisme et des loisirs avec une ambition : les aider à diversifier leurs
      activités et à générer des revenus complémentaires grâce à des outils
      simples et performants. Les professionnels bénéficient d'une boutique
      personnalisée avec le paiement en ligne intégré et créent de nouvelles
      offres en quelques clics : bons et chèques cadeaux, menus à emporter,
      ateliers, produits, tickets, expériences...<br/>
      Pour accomplir cela : une équipe internationale de 20 personnes et plus
      de 500 000 lignes de codes en Django et Elm.
      </p>
    {% elif company == "Emencia" %}
      <p>Emencia, créée en avril 2002, est spécialisée en
      développement Python. A partir de 2007, Emencia s'est orientée
      sur le framework Django.</p>

      <p>Depuis plus de 20 ans, nos consultants interviennent sur
      l'ensemble des phases d'un projet : accompagnement et conseil,
      architecture, gestion de projet, conception & développement,
      administration et mise en production.</p>

      Nos expertises :
      <ul>
        <li>Création d'applications web sur-mesure : site internet, applicatif métier, POC</li>
        <li>Reprise d'applications Django, audit, mise en conformité, évolutions et TMA</li>
        <li>Conseils et accompagnement</li>
        <li>UI, UX webdesign</li>
        <li>Hébergement / Cloud / Kubernetes / Docker</li>
      </ul>
    {% elif company == "Taipy" %}
      <p><b>Taipy, un nouveau package Python low-code très puissant.</b></p>
      <p><b>Taipy</b> permet de créer des <b>applications Data Science complètes au
      niveau graphique et pour la gestion de scénarios</b>, de modèles, de pipelines
      et de Data Nodes.</p>
      <p>
	Il est composé de deux composants indépendants mais complémentaires :
	<ul>
	  <li><b>Taipy Core</b> pour créer des <b>scénarios</b>, utiliser des modèles, récupérer des métriques facilement. <b>Taipy-Core</b> permet de <b>modéliser les flux de données et les scénarios utilisateur</b>. Il offre une réelle <b>puissance et une simplicité d’utilisation.</b></li>
	  <li><b>Taipy GUI</b> pour créer une <b>interface utilisateur interactive et performante</b> en quelques lignes.</li>
	</ul>
      </p>
      <p>
	Ces deux composants permettent de construire une <b>application d'IA très interactive et complète</b> au profit de l'utilisateur final qui peut alors explorer des données, lancer des prédictions/pipelines depuis l'application. <b>Taipy est au coeur de l’applicatif.</b></p>
      <p>Taipy a été créé pour le développement de pilotes mais surtout pour de vraies applications utilisateurs.</p>
      
    {% elif company == "Yaal Coop" %}
    <p>
    Yaal Coop est une société coopérative d'intérêt collectif (SCIC)
spécialisée dans le conseil, le développement et l'hébergement de services informatiques.
La coopérative est située à Bordeaux et est composée de 5 associé·e·s salarié·e·s.
Python est le langage de prédilection utilisé pour le développement de service web, scripts, logiciels libres et la plupart des projets de la coopérative.
</p>
    {% elif company == "Mergify" %}
    <p>
    Mergify est un outil d'automatisation destiné aux équipes
    collaborant sur GitHub. Il permet aux ingénieurs
    d'améliorer leur processus de fusion de code en définissant et en
    automatisant ces processus via des merges automatiques et des
    files de merge.
    </p>
    {% endif %}

  {% elif lang == 'en' %}

    {% if company == 'Université de Bordeaux' %}
      <p>
        With its 55,000 students, 4,000 teachers and researchers and 3,000
        staff, the University of Bordeaux (UB) is a major Nouvelle-Aquitaine
        player in connection with the socio-economic world, culture and
        business. The university is international in nature, through its
        exchanges, its projects, its place in Europe and in the world. It is
        present in the digital world through its training and research
        missions, proudly collaborating with the open source community. The
        BAIA project, UB's 3IA initiative (Interdisciplinary Institutes of
        Artificial Intelligence), builds on a community involving researchers
        in science and technology and health, in collaboration with industrial
        organizations. UB naturally joined the PyConFR 2023 event, with the aim
        of bringing the academic world into contact with the players in the
        python community.
      </p>

    {% elif company == 'Entr\'ouvert' %}
      <p>
        Entr'ouvert is a cooperative company attached to the principle of
        company democracy. Employees own the company in equal shares, decisions
        are taken based on the "1 vote per employee" principle. We privilege an
        organic operating mode, close to the one we find in a number of free
        software communities. This is an operating mode that is comfortable to
        us and overall efficient to produce free software.
      </p>
      <p>
        Entr'ouvert has a thorough knowledge of free software communities and
        their operating mode. Preserving and promoting the free software
        ecosystem is part of the structure purposes.
      </p>
      <p>
        Entr'ouvert is the publisher of a free (GNU GPL) Citizen-state
        Relationship Management, named Publik. It is used by many cities, in
        France and Belgium.  This solution is developed in Python, with the
        Django framework. At Entr'ouvert, Python and Django are the preferred
        tools when something needs to be written, be it a big software or a
        little script.
      </p>

    {% elif company == 'Alkivi' %}
      <p>
        Manage from A to Z your entire IT system : internet, phones, computers,
        IT help desk, security and backup.You can be focused on your job,
        we take care of IT problems, it's our job.
        With us, you have a single point of contact for your IT environment.
      </p>
      <p>
        All we code is Opensource :
        <a href="https://github.com/alkivi-sas/">https://github.com/alkivi-sas/</a> (and mainly in Python)
      </p>
    {% elif company == 'MyBeezBox' %}
      <p>
        For the past 6 years, MyBeezBox has been supporting members of the
        gastronomy, tourism and leisure industries with one ambition: to help
        them diversify their activities and generate additional income thanks to
        simple and effective tools. Professionals benefit from a personalized
        shop with integrated online payment and create new offers in a few
        clicks: vouchers and giftcards, takeaway menus, workshops, products,
        tickets, experiences...<br/>
        To accomplish this: an international team of 20 people and over 500,000
        lines of code in Django and Elm.
      </p>
    {% elif company == "Emencia" %}
      <p>Emencia, created in april 2002, is specialized in
      Python. Since 2007, Emencia is focusing on the Django
      framework.</p>

      <p>Since more than 20 years, our consultants are working on
      every project aspects: guidance and advices, architecture,
      project management, design & development, administration and
      production.</p>

      Our expertise:
      <ul>
        <li>Creation of customized web applications: websites, business application, POC</li>
        <li>Working on existing Django apps, audit, compliance, evolutions, and TMA</li>
        <li>Consulting and support</li>
        <li>UI, UX webdesign</li>
        <li>Hosting / Cloud / Kubernetes / Docker</li>
      </ul>
    {% elif company == "Taipy" %}
    <p><b>Taipy, The next-gen open-source Python application builder.</b></p>

    <p>Taipy meets the challenge of rapidly transforming a bare algorithm into a full-fledged Decision Support System for end-users!
    <b>We provide the next generation of Open-Source Software</b> (With <b>Taipy GUI and Taipy Core</b>) that enables Python Developers to quickly build <b>interactive end-user applications.</b></p>

    <p>Taipy is composed of:
    <ul>
    <li><b>Taipy GUI</b> for the development of highly interactive GUIs ready for production</li>
    <li><b>Taipy Core</b> provides facilities for smart pipeline management, data caching as well as scenario and cycle management</li>
    </ul>
    </p>
    <p>Taipy is designed by AI veterans, it covers the needs of a wide range of algorithms from:
    <ul>
    <li>AI models</li>
    <li>Decision Optimization</li>
    <li>Simulation</li>
    <li>Ad-Hoc Heuristics,</li>
    <li>Data Presentation, Transformations (ETLs, etc)</li>
    <li>Etc.</li>
    </ul>
    </p>
    {% elif company == "Yaal Coop" %}
    <p>
      Yaal Coop is a cooperative specialized in consulting, development and services hosting.
      The company is located in Bordeaux and has 5 salaried partners.
      Python is our favorite language to write web services, scripts, free software and almost every cooperative projects.
    </p>
    {% elif company == "Mergify" %}
    <p>
      Mergify is an automation tool for software engineering teams
      who use GitHub to collaborate. It allows engineers to improve
      their code-merging processes by defining and automating
      workflows using features like automatic merges and merge
      queues.
    </p>
    {% endif %}

  {% endif %}
  </div>
{% endmacro %}

{% macro sponsors(lang, only_logo=False) %}
  {% set levels = {
      'Platine' if lang == 'fr' else 'Platinum': {
          'Université de Bordeaux': 'https://www.u-bordeaux.fr/Universite',
      },

      'Or' if lang == 'fr' else 'Gold': {
          'Taipy': 'https://taipy.io/',
      },

      'Argent' if lang == 'fr' else 'Silver': {
      'Entr\'ouvert': 'https://www.entrouvert.com/',
      },

      'Bronze': {
      'Alkivi': 'https://github.com/alkivi-sas/',
      'MyBeezBox': 'https://www.mybeezbox.com/',
      'Emencia': 'https://www.emencia.com/',
      'Yaal Coop': 'https://yaal.coop/',
      'Mergify': 'https://mergify.com/',
      },

      'Cœur' if lang == 'fr' else 'Heart': {
      },

      'Partenaires' if lang == 'fr' else 'Partners':
      {
          'Marie-Ange Vollard': 'https://www.marieange-vollard.com/',
          'CourtBouillon': 'https://courtbouillon.org/',
          'Sticker Mule': 'https://stickermule.com/supports/pyconfr19-sponsorship',
          'GNU/Linux Magazine': 'https://www.gnulinuxmag.com/',
      },
  } %}

  {% set png_logos = ('Invivoo',) %}

  {% if lang == 'fr' %}
    <p>
      Vous souhaitez nous soutenir ?
      <a href="{{ url_for('page', name='support', lang=lang)}}">Devenez sponsor</a> et
      offrez à votre entreprise une plus grande visibilité lors de cet événement.
    </p>
  {% else %}
    <p>
      If you wish to support us, please
      <a href="{{ url_for('page', name='support', lang=lang)}}">become sponsor</a> to
      offer a wider visibility to your enterprise during this event.
    </p>
  {% endif %}

  {% for level, companies in levels.items() %}
    {% if companies %}
      <section class="sponsors">
        <h3>{{ level }}</h3>
        {% for company, link in companies.items() %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
              <div class="sponsor">
                <h4>{{ company }}</h4>
            {% endif %}
            {% if link %}
              <a href="{{ link }}" class="logo">
            {%- endif -%}
              <img src="{{ url_for('static', filename='images/partners/{}.{}'.format(company.replace('/', '-'), 'png' if company in png_logos else 'svg')) }}" alt="Logo {{ company }}" />
            {%- if link -%}
              </a>
            {% endif %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
                {{ description(company, lang) }}
              </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endmacro %}
