{% macro description(company, lang) %}
  <div class="description">

  {% if lang == 'fr' %}
    {% if company == 'Université de Bordeaux' %}
      <p>
        Forte de ses 55 000 étudiants, 4 000 enseignants et chercheurs et 3 000
        personnels, l'Université de Bordeaux (UB) est un acteur majeur du
        territoire en lien avec le monde socio-économique, de la culture et de
        l'entreprise. L'université est internationale par nature, à travers ses
        échanges, ses projets, sa place en Europe et dans le monde. Elle est
        présente dans le monde numérique au travers de ses missions de
        formation et de recherche et porte notamment des initiatives vers le
        logiciel libre. Le projet BAIA, candidat à l’appel à manifestation
        d’intérêt 3IA (Instituts Interdisciplinaires d'Intelligence
        Artificielle), anime une dynamique impliquant des chercheurs des
        sciences et des technologies et de la santé, en collaboration avec des
        acteurs de l'industrie. C'est tout naturellement que UB s'est associé à
        l'évènement PyConFR 2023, avec la volonté de mettre le monde académique
        en lien avec les acteurs de la communauté Python.
      </p>
    {% endif %}

  {% elif lang == 'en' %}

    {% if company == 'Université de Bordeaux' %}
      <p>
        With its 55,000 students, 4,000 teachers and researchers and 3,000
        staff, the University of Bordeaux (UB) is a major Nouvelle-Aquitaine
        player in connection with the socio-economic world, culture and
        business. The university is international in nature, through its
        exchanges, its projects, its place in Europe and in the world. It is
        present in the digital world through its training and research
        missions, proudly collaborating with the open source community. The
        BAIA project, UB's 3IA initiative (Interdisciplinary Institutes of
        Artificial Intelligence), builds on a community involving researchers
        in science and technology and health, in collaboration with industrial
        organizations. UB naturally joined the PyConFR 2023 event, with the aim
        of bringing the academic world into contact with the players in the
        python community.
      </p>
    {% endif %}

  {% endif %}
  </div>
{% endmacro %}

{% macro sponsors(lang, only_logo=False) %}
  {% set levels = {
      'Platine' if lang == 'fr' else 'Platinum': {
          'Université de Bordeaux': 'https://www.u-bordeaux.fr/Universite',
      },

      'Or' if lang == 'fr' else 'Gold': {
      },

      'Argent' if lang == 'fr' else 'Silver': {
      },

      'Bronze': {
      },

      'Cœur' if lang == 'fr' else 'Heart': {
      },

      'Partenaires' if lang == 'fr' else 'Partners':
      {
          'Marie-Ange Vollard': 'https://www.marieange-vollard.com/',
          'CourtBouillon': 'https://courtbouillon.org/',
          'Sticker Mule': 'https://stickermule.com/supports/pyconfr19-sponsorship',
          'GNU/Linux Magazine': 'https://www.gnulinuxmag.com/',
      },
  } %}

  {% set png_logos = ('Invivoo',) %}

  {% if lang == 'fr' %}
    <p>
      Vous souhaitez nous soutenir ?
      <a href="{{ url_for('page', name='support', lang=lang)}}">Devenez sponsor</a> et
      offrez à votre entreprise une plus grande visibilité lors de cet événement.
    </p>
  {% else %}
    <p>
      If you wish to support us, please
      <a href="{{ url_for('page', name='support', lang=lang)}}">become sponsor</a> to
      offer a wider visibility to your enterprise during this event.
    </p>
  {% endif %}

  {% for level, companies in levels.items() %}
    {% if companies %}
      <section class="sponsors">
        <h3>{{ level }}</h3>
        {% for company, link in companies.items() %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
              <div class="sponsor">
                <h4>{{ company }}</h4>
            {% endif %}
            {% if link %}
              <a href="{{ link }}" class="logo">
            {%- endif -%}
              <img src="{{ url_for('static', filename='images/partners/{}.{}'.format(company.replace('/', '-'), 'png' if company in png_logos else 'svg')) }}" alt="Logo {{ company }}" />
            {%- if link -%}
              </a>
            {% endif %}
            {% if not only_logo and level not in ('Heart', 'Partners', 'Cœur', 'Partenaires') %}
                {{ description(company, lang) }}
              </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endmacro %}
